html, body {
    height: 100%;
    margin: 0;
    font-family: 'Verdana', sans-serif;
    color: #717171;
}

a {
    text-decoration: none;
}

.clear {
    clear: both;
}

.margintop15{
    margin-top: 15px;
}