/*border-radius*/
.course-top-logo, .course-top-logo img, .course-top-info {
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -ms-border-radius: 5px 5px 0 0;
    -o-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
}

.course-middle {
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    -ms-border-radius: 0 0 5px 5px;
    -o-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
}

.course-container {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.courses-container{
    width: 960px;
    margin: 0 auto;
    margin-top: 20px;
}

.course-container{
    float: left;
    margin-right: 15px;
}

.course-info {
    -webkit-transition: margin-top 0.3s ease; /*ease*/
    -moz-transition: margin-top 0.3s ease;
    -o-transition: margin-top 0.3s ease;
    transition: margin-top 0.3s ease;
}

.course-container:hover .course-info{
    margin-top: -135px;
}

.course-container {
    height: 320px;
    width: 305px;
}

.course-top {
    height: 170px;
    width: 100%;
}

.course-top-logo {
    height: 170px;
    width: 100%;
    background: url("../images/courseslogo/ono.jpg") no-repeat;
    background-size: cover;
}

.course-container a{
    color: white;
    font-size: 18px;
}

.course-middle {
    width: 283px;
    height: 130px;
    border: solid rgb(228,223,215) thin;
    border-top: none;
    background-color: rgba(255,250,240,1);
    /*background-color: #FFF0CE;*/
    color: #000000;
    padding: 10px;
    position: absolute;
}

.course-info {
    width: 285px;
    height: 160px;
    margin-top: -35px;
    border-top: none;
    background-color: rgba(117, 113, 114, 0.71);
    color: #000000;
    padding: 10px;
    float: left;
    position: relative;
    color: white;

}

.course-info-author {
    font-size: 15px;
    font-weight: bold;
}

.course-info-author-position {
    margin-top: 5px;
    font-size: 15px;
}

.course-info-general {
    margin-top: 6px;
    font-size: 13px;
}

.course-info-general ul {
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0;
}

.course-info-general ul li:hover {
    color: #d3cad4;
}

.course-label {
    height: 20px;
    width: 100px;
    color: white;
    margin-top: 7px;
    position: absolute;
    font-size: 15px;
    padding-left: 5px;
    text-align: center;
}

.label-new {
    background-color: orange;
}

.label-soon {
    background-color: red;
}

.label-new:before {
    content: "Новый курс";
}

.label-soon:before {
    content: "Скоро";
}
