.top-menu {
    height: 80px;
    width: 100%;
    background-color: #FFFEFB;
    font-family: 'Open Sans', sans-serif;
    color: #717171;
}

.top-menu-container {
    height: 80px;
    width: 960px;
    margin: 0 auto;
}

.top-menu-logo {
    height: 30px;
    width: 150px;
    margin-top: 25px;
    float: left;
    font-weight: bold;
    font-size: 25px;
    color: #AA6E64;
}

.top-menu-logo a{
    text-decoration: none;
    color: #AA6E64;
}

.top-menu-elements {
    height: 30px;
    margin-top: 30px;
    margin-left: 30px;
    float: left;
    font-size: 18px;
}

.top-menu-element {
    margin-right: 10px;
    float: left;
}

.top-menu-element a{
    text-decoration: none;
    color: #6B6B6B;
}

.top-menu-element a:hover{
    color: #bababa;
}

.top-menu-user-info {
    float: right;
    min-width: 200px;
    height: 32px;
    margin-top: 24px;
    cursor: pointer;
}

.top-menu-user-info-button {
    float: right;
    background: url("../images/icon_menu.png");
    height: 32px;
    width: 32px;
    position: relative;
    z-index: 200;
}

.top-menu-user-info-avatar {
    float: left;
    overflow: hidden;
}

.top-menu-user-info-name {
    float: left;
    font-weight: bold;
    margin: 7px 10px 0 6px;
    font-size: 15px;
}

.top-menu-user-info-menu-bg {
    display: none;
    width: 70px;
    background-color: #FFFEFB;
    height: 56px;
    float: right;
    position: relative;
    margin-right: -52px;
    margin-top: -12px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.top-menu-user-info-menu {
    display: none;
    padding: 10px 20px 10px 20px;
    width: 180px;
    background-color: #FFFEFB;
    min-height: 30px;
    position: relative;
    z-index: 100;
    box-shadow: 0 8px 10px rgba(0,0,0,0.5);
    font-size: 15px;
    text-align: left;
    left: 760px;
}

.top-menu-user-info-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.top-menu-user-info-menu ul li{
    margin-top: 10px;
    margin-bottom: 10px;
}

.top-menu-user-info-menu ul li a {
    text-decoration: none;
    color: #6B6B6B;
}

.top-menu-user-info-menu ul li a:hover {
    color: #bababa;
}

.user-info-menu-hr {
    height: 1px;
    width: 100%;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #7f757f;
}

